html {
  background: lightgrey;
}

.cells {
  visibility: hidden;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: solid red;
}
.grid-columns {
  /* border: solid black; */
}
.grid-rows {
  /* border: solid black; */
}
body > h1.player1-score {
  visibility: hidden;
  border: solid black;
  /* width: 400px;
  height: 100px; */
  width: 20vw;
  height: 5vw;
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
}
body > h1.player2-score {
  visibility: hidden;
  border: solid black;
  /* width: 400px;
  height: 100px; */
  width: 20vw;
  height: 5vw;
  text-align: center;
  margin-left: 5%;
}
.cell1{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell2{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell3{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell4{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell5{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell6{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell7{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell8{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.cell9{
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.start-button {
  visibility: hidden;
  position: fixed;
  top:85%;
  right: 50%;
  height: 100px;
  width: 300px;
}
.stop-button {
  visibility: hidden;
  position: fixed;
  top: 85%;
  left: 50%;
  height: 100px;
  width: 300px;
}
body > div.modal {
  visibility: hidden;
  border: solid black;
  width: 50vw;
  max-width: 700px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  background-color: blue;
  justify-content: center;
}
body > div.modal.open {
  visibility: visible;
}
body > div#countdown {
  visibility: hidden;
}
