html {
  background: grey;
}

.cells {
  visibility: hidden;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: solid red;
}
.grid-columns {
  /* border: solid black; */
}
.grid-rows {
  /* border: solid black; */
}
body > div.scores > div.player1-score {
  visibility: hidden;
  border: solid black;
  /* width: 400px;
  height: 100px; */
  width: 20vw;
  height: 5vw;
  font-size: 50px;
  text-align: center;
  margin-left: 5%;
  margin-top: 10vw;
}
body > div.scores > div.player2-score {
  visibility: hidden;
  border: solid black;

  /* width: 400px;
  height: 100px; */
  width: 20vw;
  height: 5vw;
  font-size: 50px;
  text-align: center;
  margin-left: 5%;
  margin-top: 10vw;
}
button.openBtn {
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell1{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell1.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell2{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell2.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell3{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell3.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell4{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell4.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell5{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell5.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell6{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell6.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell7{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell7.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell8{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell8.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell9{
  visibility: visible;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
body > div.cells > button.cell9.openBtn{
  visibility: hidden;
  background: lightpink;
  padding: 40%;
  border-radius: 50%;
}
.start-button {
  visibility: hidden;
  position: fixed;
  top:85%;
  right: 50%;
  height: 100px;
  width: 300px;
}
.stop-button {
  visibility: hidden;
  position: fixed;
  top: 85%;
  left: 50%;
  height: 100px;
  width: 300px;
}
body > div.modal {
  visibility: hidden;
  border: solid black;
  width: 50vw;
  max-width: 700px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  background-color: #fad97d;
  justify-content: center;
}
body > div.modal.open {
  visibility: visible;
}
body > div.modal > h3{
  padding: 20px;
}
body > div#countdown {
  visibility: hidden;
  /* border: solid black; */
  text-align: center;
  font-size: 150px;
  margin-left: 70vw;
  transform: translateY(-150%);
}
